<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="1 seconds">
    <contextName>occultation</contextName>
    <jmxConfigurator/>

    <!-- direct log messages to stdout -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{36}.%M\(%L\) %m%n</pattern>
        </encoder>
    </appender>


    <appender name="ASYNCConsole" class="ch.qos.logback.classic.AsyncAppender">
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="stdout"/>
    </appender>


    <root level="info">
         <appender-ref ref="stdout"/>
    </root>
</configuration>
